/* ---- Спецификация ---- */

body {
    padding: 0;
    margin: 0;    
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #999999;
}

* {
    box-sizing: border-box;
}

ul,
li {
    display: block;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
    font-weight: 700;
    line-height: 1.2em;
    color: #323232;
}

p {
    margin: 0;
    line-height: 1.35em;
}

.container {
    width: 1110px;
    margin: 0 auto;
}

.container_flex {
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
    color: #4985FF;
}

.btn {
    padding: 13px 0px;
    background: #4985FF;
    border-radius: 30px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    display: block;
    width: 200px;
    transition: all 0.5s ease;
    text-align: center;
}

.btn:hover {
    background: #2C71FF
}

.section-title {
    font-size: 36px;
    padding-top: 100px;
}

.paragraph {
    font-weight: 300;    
    width: 730px;
}

/* ---- Первая секция ---- */

.header {
    background: linear-gradient(57.79deg, rgba(51, 5, 111, 0.58) 27.19%, rgba(56, 32, 87, 0.29) 81.02%), url('../img/header_bg2.jpg') no-repeat center top / cover;
    text-align: left;
    color: #fff;
    padding-bottom: 70px;
}

.nav {
    border-bottom: 1px solid #A1A1A1;
}

.menu {
    margin-left: auto;
}

.logo {
    background: url('../img/logo.svg') no-repeat center;
    width: 104px;
    height: 65px;
    display: block;
}

.phone-number {
    color: #fff;
    margin-left: auto;
}

.menu__list {
    display: flex;
}

.menu__item a {
    color: #fff;
    font-size: 16px;
    padding: 33px 20px;
    display: block;
    border-bottom: 2px solid rgba(255, 255, 255, 0)
}

.menu__item a:hover,
.menu__item_active a {
    border-bottom: 2px solid #FFFFFF;
}

.offer {
    width: 655px;    
    margin-right: auto;
}

.offer-wrapper {
    padding-top: 137px;
}

.offer__intro {
    width: 342px;
    margin-bottom: 24px;
}

.offer__title {
    color: #fff;
    font-size: 48px;
    margin-bottom: 23px;
}

.offer__btn { 
    margin-right: auto;
    margin-bottom: 168px;
}

.arrow-down {
    background: url('../img/arrow-down.svg') no-repeat right top;
    width: 16px;
    height: 24px;
    display: block;    
    margin-right: auto;
    opacity: 0.5;
    transition: all 0.5s ease;
}

.arrow-down:hover {
    opacity: 1;
}

/* ---- Направления ---- */

.branches {
    padding-bottom: 105px;
}

.section-title_branches {
    padding-top: 105px;
    width: 780px;
    margin-bottom: 25px;
}

.branches-text {
    margin-bottom: 76px;
}

.services__wrapper {    
    display: flex;
    flex-direction: column;
    padding-top: 14px;
}

.services {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    margin-bottom: 28px;
    flex-wrap: wrap;
}

.services__img {
    object-fit: cover;
    width: 210px;
    height: 144px;
    margin-right: 30px;   
    border-radius: 0px 10px 10px 10px; 
}

.services__item {
    width: 508px;
    height: 144px;
    display: flex;
    align-items: flex-start;    
    margin-bottom: 50px;
}

.services__title {
    margin-bottom: 14px;
}

.services__text {
    font-size: 14px;
    margin-bottom: 20px;
}

.services__price {
    font-size: 15px;
    line-height: 140%;
    color: #FF4975;
}

.btn_branches { 
}


.achievements {
    border-top: 1px solid #E0E0E0;
    margin-top: 90px;
    padding: 50px 22px 59px;
    display: flex;
    justify-content: space-between;
}

.achievements__item {
    margin-right: 80px;
}

.achievements__item:last-child {
    margin-right: 0px;
}

.achievements__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.achievements__icon {}

.achievements__digit {
    color: #000000;
    font-size: 36px;
    margin-bottom: 10px;
}

.achievements__text {
    text-align: center;
}

/* ---- Портфолио ---- */

.portfolio {
    padding-bottom: 130px;
    background: #F7F6F8;
    position: relative;
}

.section-title_portfolio {
    margin-bottom: 25px;
}

.portfolio-text {}

.all-projects {
    position: absolute;
    background: #F4EAFF;
    width: 801px;
    height: 292px;
    border-radius: 15px;
    left: 50%;    
    margin-left: -386px;
    margin-top: -114px;
    text-align: center;
}

.all-projects-text {
    margin: 0 auto;
    margin-bottom: 32px;
    width: 601px;
}

.section-title_all-projects {
    padding-top: 52px;
    font-size: 19px;
    line-height: 140%;
    margin-bottom: 21px;
}

.btn_all-projects {
    margin: 0 auto;
}

.works {
    display: flex;
    justify-content: space-between;
    margin-top: 76px;
    margin-bottom: 50px;
}

.works__item {
    width: 345px;
    height: 265px;
}

.works__link {
    width: 345px;
    height: 265px;
    transition: all 0.5s ease;
    display: block;
    border-radius: 10px;
}

.works__link img {
    width: 345px;
    height: 265px;
    object-fit: cover;
    border-radius: 10px;
}

.works__link:hover {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2)
}

.portfolio_btn {
    margin: 0 auto
}


/* ---- Видео ---- */

.video {
    background: url('../img/video-bg.jpg') no-repeat center top / cover;
    color: #fff; 
    padding-top: 200px;
    padding-bottom: 103px;
}

.section-title_video {
    color: #323232;
    text-align: center;
    padding-top: 80px;
    margin-bottom: 26px;
}

.video-text {
    color: #323232;
    text-align: center;
    margin: 0 auto;
}

.video-frame {
    width: 830px;
    height: 430px;
    display: block;
    margin: 76px auto 0;
    border-radius: 10px;
    margin-bottom: 62px;
}

.line {
    border: 1px solid #E0E0E0;
}


/* ---- Подписка ---- */

.subscribtion {
    margin-left: 20px;    
}

.subscribe { 
    margin: 42px 0 0 125px;   
}

.subscribe__title {
    margin-bottom: 21px;
}

.subscribe__form {
    width: 385px;
    display: flex;
    margin: 0 auto
}

.subscribe__input {
    background: #FFFFFF;
    border: 1px solid #F2F2F2;
    box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
    border-radius: 30px 0 0 30px;
    font-size: 13px;
    font-family: 'Montserat', sans-serif;
    font-weight: 400;
    width: 357px;
    padding-left: 33px;
}

.subscribe__policy {         
    font-family: 'Montserat', sans-serif;
    font-weight: 400;
    margin-top: 20px;
}

.subscribe__btn {    
    border-radius: 0 30px 30px 0;
    padding: 13px 44px 13px 35px
}

.subscribe__circle {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: #FF4975;
    margin-left: -16px;
}

.subscribe__img {
    padding: 11px;
}


/* ---- Футер ---- */

.footer {    
    background: #F7F6F8;
    padding: 97px 0 100px 0;
}

.footer-content {
    display: flex; 
}

.footer-content__item {}

.footer-content__item-social {
    margin-left: 130px;
}

.footer-content__title {}

.footer-content__list {
    margin-top: 32px;    
}

.footer-content__list-wrapper {
    display: flex;    
    padding-top: 42px;
}

.footer-content__list-item_line {
    margin-right: 20px;
}

.footer-content__list-item {
    margin-bottom: 21px;
    font-size: 14px;
    display: flex;
    align-items: center;
}

.footer-content__list-item a {
    color: #999999;
    display: flex
}

.footer-content__icon {
    margin-right: 15px;
}

.footer-credits {
    margin-top: 23px; 
}

.footer-credits__text {
    font-size: 13px;    
}